<div *ngIf="loginService.user">
    <div class='panel panel-primary' style="text-align: left;">
        <div class='panel-heading'>
          My Requests
        </div>
      
        <div class='table-responsive'>
          <table class='table'>
            <thead>
              <tr>
                <th>ID</th>
                <th>Amount</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let temp of requestService.requestsHoler" (mouseenter)="highlight($event)" (mouseleave)="dehighlight($event)">
                <td>{{temp.id}}</td>
                <td>${{temp.amount}}</td>
                <td>{{temp.status}}</td>
                <td>
                  <button type="button" class="btn btn-success">Approve</button>
                  <button type="button" class="btn btn-danger">Deny</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      
      </div>
</div>

<div *ngIf="!loginService.user">
  You must login first!
</div>