<div *ngIf="loginService.user">
    <div class='panel panel-primary'>
        <div class='panel-heading'>
          My Requests
        </div>
      
        <div class='table-responsive'>
          <table class='table'>
            <thead>
              <tr>
                <th (click)="sort('id')">ID</th>
                <th (click)="sort('author')">Author</th>
                <th (click)="sort('amount')">Amount</th>
                <th (click)="sort('submitted')">Date Created</th>
                <th>Description</th>
                <th (click)="sort('type')">Type</th>
                <th>Date Resolved</th>
                <th>Resolver</th>
                <th (click)="sort('status')">Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let temp of requestService.requestsHoler" (mouseenter)="highlight($event)" (mouseleave)="dehighlight($event)">
                <td>{{temp.id}}</td>
                <td>{{temp.author.firstname}} {{temp.author.lastname}}</td>
                <td>${{temp.amount}}</td>
                <td>{{temp.submitted}}</td>
                <td><button (click)="description(temp.description)">Description</button></td>
                <td>{{temp.type}}</td>
                <td>{{temp.resolved}}</td>
                <td>{{temp.resolver.firstname}} {{temp.resolver.lastname}}</td>
                <td>{{temp.status}}</td>
                <td>
                  <div *ngIf="temp.status==='Pending'">
                  <button type="button" class="btn btn-success actions" (click)="approveDeny($event,temp,2)">Approve</button>
                  <button type="button" class="btn btn-danger actions" (click)="approveDeny($event,temp,3)">Deny</button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      
      </div>
      <app-description-dialog *ngIf="openDescription" [message]="message" (messageEvent)="receiveMessage($event)">
        </app-description-dialog>
</div>

<div *ngIf="!loginService.user">
  You must login first!
</div>