<div id="holder" *ngIf="loginService.user">
  <form #requestForm="ngForm" (ngSubmit)="onSubmit(requestForm)">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Amount</label>
      <div class="input-group col-sm-10">
        <span class="input-group-addon">$</span>
        <input type="number" class="form-control" name="amount" ngModel placeholder="Request amount">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Description</label>
      <div class="input-group col-sm-10">
          <span class="input-group-addon">*</span>
        <input type="text" class="form-control" name="description" ngModel placeholder="Describe your reimbursement request in summary">
      </div>
    </div>
    <fieldset class="form-group">
      <div class="row">
        <legend class="col-form-label col-sm-2 pt-0">Type</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <input class="form-check-input" ngModel type="radio" name="type" id="gridRadios1" value="1" checked>
            <label class="form-check-label" for="gridRadios1">
              Lodging
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" ngModel type="radio" name="type" id="gridRadios2" value="2">
            <label class="form-check-label" for="gridRadios2">
              Travel
            </label>
          </div>
          <div class="form-check disabled">
            <input class="form-check-input" ngModel type="radio" name="type" id="gridRadios3" value="3" >
            <label class="form-check-label" for="gridRadios3">
              Food
            </label>
          </div>
          <div class="form-check disabled">
              <input class="form-check-input" ngModel type="radio" name="type" id="gridRadios4" value="4" >
              <label class="form-check-label" for="gridRadios3">
                  Other
              </label>
            </div>
        </div>
      </div>
    </fieldset>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </form>
</div>

<div *ngIf="!loginService.user">
  You must login first!
</div>